<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cfl.dao.BooksDAO">
    <resultMap id="booksMap" type="com.cfl.vo.BooksVo"></resultMap>
    <resultMap id="select2VoMap" type="com.cfl.vo.Select2Vo"></resultMap>
    <select id="getById" resultMap="booksMap" parameterType="long">
        select t.*,(select name from t_booktype where t.book_type_id=t_booktype.id) as bookTypeName,(select name from t_book_module where t.book_module=t_book_module.id) as bookModuleName from t_books t  where t.id = #{id}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_books where id = #{id}
    </delete>
    <select id="getBooks" resultMap="select2VoMap">
        select id,name as text from t_books
    </select>
    <select id="listPage" resultMap="booksMap">
        select t.*,(select name from t_booktype where t.book_type_id=t_booktype.id) as bookTypeName,(select name from t_book_module where t.book_module=t_book_module.id) as bookModuleName  from t_books t  order by t.create_time desc limit #{pageNo},#{pageSize}
    </select>
    <select id="getFiveBooks" resultMap="booksMap">
        select id,name,face_img,introduction,read_count,(select name from t_booktype where id=t_books.book_type_id) as bookTypeName from t_books order by read_count desc limit 0,5
    </select>
    <select id="listAll" resultMap="booksMap">
        select * from t_books
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*) from t_books
    </select>
    <insert id="save" parameterType="bookTypeVo">
        insert into t_books (name, title, introduction, book_type_id, author, word_count, `section`, update_time, face_img, collect_count, reward_count, discuss_count, read_count, publish_user_id, is_last, status,create_time,book_module) values (#{name}, #{title}, #{introduction}, #{bookTypeId}, #{author}, #{wordCount}, #{section}, #{updateTime}, #{faceImg}, #{collectCount}, #{rewardCount}, #{discussCount}, #{readCount}, #{publishUserId}, #{isLast}, #{status},#{createTime},#{bookModule})
    </insert>
    <select id="getBooksByList" resultMap="booksMap">
        select id,name from t_books order by create_time desc limit 0,4
    </select>
    <select id="getListBooks" resultMap="booksMap" parameterType="string" statementType="STATEMENT" >
        select id,name,collect_count,is_last,word_count,author from t_books order by ${ifVal} desc limit 0,10
    </select>
    <select id="getListByBook" resultMap="booksMap" statementType="STATEMENT" >
        select id,name,collect_count,word_count,introduction,face_img,read_count,(select name from t_booktype where id=t_books.book_type_id) as bookTypeName from t_books order by ${searchVal} desc limit ${pageNo},${pageSize}
    </select>
    <select id="getWanBen" resultMap="booksMap" >
        select id,name,face_img,introduction,read_count,(select name from t_booktype where id=t_books.book_type_id) as bookTypeName from t_books where is_last=1   order by create_time desc limit 0,10
    </select>
    <select id="findBooksByLike" resultMap="booksMap">
        select id,name,introduction,read_count,(select name from t_booktype where id=t_books.book_type_id) as bookTypeName from t_books where name LIKE CONCAT('%',#{searchVal},'%')  or author LIKE CONCAT('%',#{searchVal},'%') order by create_time desc limit #{pageNo},#{pageSize}
    </select>
    <select id="findCountBooksByLike" resultType="long">
        select count(id) from t_books where name LIKE CONCAT('%',#{searchVal},'%')  or author LIKE CONCAT('%',#{searchVal},'%') order by create_time desc
    </select>
    <update id="updateStatus">
        update t_books set status=#{status} where id=#{id}
    </update>
    <update id="addBooks" parameterType="long">
        update t_books set read_count = read_count+1 where id=#{id}
    </update>
    <update id="update">
        update t_books set
                name = #{name},
                title = #{title},
                introduction = #{introduction},
                book_type_id = #{bookTypeId},
                author = #{author},
                word_count = #{wordCount},
                section = #{section},
                update_time = #{updateTime},
                face_img = #{faceImg},
                is_last = #{isLast},
                book_module=#{bookModule}
        where id = #{id}
    </update>
</mapper>